#full-container{
    margin: 0;
    padding: 0;
    background-color: #040404;
}
.search{
    text-align: center;
    margin: 8% 10%;
    padding: 25px;
}
.search input[type=text]{
    box-sizing: border-box;
    border:1px solid rgb(216, 216, 216);
    padding: 6px;
    font-size: 17px;
    width: 50%;
    margin-right: -3px;
}
 .search button{
    padding: 7px;
    margin-top: 7.5px;
    /* margin-right: 16px; */
    background: #A41F26;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0;
 }
 #body-container{
    margin: 0;
}
 .cards-area{
    margin-left: 10%;
    margin-right: auto;
 }
 
 #body-container::after, .cards-area::after {
    content: "";
    clear: both;
    display: table;
  } 